/*Header*/

.header_catalog {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    display: grid;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 8px;
    padding-bottom: 80px;
}

/*Container*/

.catalog_container {
    display: grid;
    grid-template-columns: 264px 760px;
    column-gap: 145px;
}

/*Filter*/




/*Products sorting*/

.products_container {
    width: 760px;
}

.sorting {
    display: grid;
    grid-template-columns: 360px 350px 50px;
    column-gap: 0px;
    margin-bottom: 45px;
}

.sorting_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
    text-transform: uppercase;
}

.sorting_item:hover {
    mix-blend-mode: normal;
    opacity: 0.6;
}

.sorting_item:active {
    color: #000000;
    opacity: unset;
}

.sorting_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 274px;
}

.sorting_item {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    mix-blend-mode: normal;
    opacity: 0.3;
    padding-left: 0;
}

.sorting_item a {
    text-decoration: none;
    color: #000000;
}

.triangles {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 40px;
    justify-content: space-between;
}

.triangle_item {
    fill: var(--basic-black-l);
    fill-opacity: 0.2;
}

.triangle_item:hover {
    fill: #A6A6A6;
    fill-opacity: 1;
}

.triangle_item:active {
    fill: var(--basic-black-l);
    fill-opacity: 1;
}

.products_list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products_img {
    width: 360px;
    height: 576px;
}

/*Products*/


