/* Подключение шрифтов */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

/* Кастомные свойства -цвета */

:root {
    --basic-white: #ffffff;
    --basic-white-rgb: 255, 255, 255;
    --basic-black: #000000;
    --basic-black-rgb: 0, 0, 0;
    --basic-black-l: #231f20;
    --basic-black-light: #283136;
    --basic-grey-dark: #444444;
    --basic-grey-dark-rgb: 68, 68, 68;
    --basic-grey--dark-l: #4d4d4d;
    --basic-grey: #666666;
    --basic-grey-ld: #c1c1c1;
    --basic-grey-light-l: #dbdbdb;
    --basic-grey-light: #e1e1e1;
    --basic-grey-extra-light: #eeeeee;
    --basic-grey-modal: #d7dcde;
    --special-grey-active: #a6a6a6;
    --special-grey-hover: #dfdfdf;
    --special-grey-hover-modal: #b4b9bb;
    --special-grey-active-catalog: #d5d5d5;
    --special-grey-active-range: #ababab;
    --basic-red: #fb565a;
    --special-red-hover: #e74246;
    --special-red-active: #d7373b;
    --basic-green: #00ca74;
    --special-green-hover: #00bc6c;
    --special-green-active: #00aa62;
    --basic-yellow: #efc849;
    --special-yellow-hover: #eab534;
    --special-yellow-active: #e5a722;
}

/*Основное*/

.page_body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Roboto';
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 100px;
}

.button {
    width: 240px;
    height: 50px;
    background: #FB565A;
    display: inline-block;
    box-sizing: border-box;
    padding: 17px 54px;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 80px;
    cursor: pointer;
}

.button:hover {
    background: #E74246;
}

.button:active {
    background: #D7373B;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(var(--basic-white-rgb), 0.3);
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Header*/

.logo {
    width: 160px;
    height: 66px;
    margin-top: 48px;
    margin-bottom: 5px;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.3;
}

.main_header {
    background-color: var(--basic-grey-extra-light);
    padding: 0 100px;
    margin: 0;
}

.main_nav_container {
    display: grid;
    grid-template-columns: 330px 1fr 115px;
    column-gap: 40px;
}

.site_nav_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 73px;
    margin-bottom: 27px;
}

.site_nav_item {
    padding-right: 45px;
}

.site_nav_item:last-child() {
    padding-right: 0px;
}

.site_nav_link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 187%;
    color: #000000;
    text-transform: uppercase;
}

.cart {
    margin-top: 73px;
    margin-bottom: 27px;
    justify-self: end;
    display: block;
    position: relative;
}

.cart::before {
    background-image: url("../img/cart-icon.svg");
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: 15px;
    right: 100px;
}

.cart_link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 187%;
    color: #000000;
    text-transform: uppercase;
}

.site_nav_link:hover,
.cart_link:hover {
    color: #FB565A;
    transition: 0.3s;
}

.site_nav_link:active,
.cart_link:active {
    mix-blend-mode: normal;
    opacity: 0.3;
}

/*Slider*/

.slider_container {
    margin-bottom: 80px;
    margin-top: 0;
    min-height: 413px;
    position: relative;
}

.slider_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slide {
    display: none;
}

.slide_current {
    display: block;
}

.slider_controls {
    position: absolute;
    width: 91px;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    left: 605px;
    top: 312px;
}

.slider_controls button {
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    padding: 0;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-white);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.button_current::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 2px solid var(--basic-grey-ld);
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    bottom: 4.5px;
    right: 4.5px;
}

.slider_title {
    font-weight: 500;
    font-size: 55px;
    line-height: 100%;
    margin: 0;
    width: 538px;
    padding-top: 58px;
}

.slider_text {
    color: #283136;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 0px;
}

.slider_container_1 {
    background: url(../img/nerds-index-slide1-1.png) no-repeat right 20px top 0px;
}

.slider_container_2 {
    background: url(../img/nerds-index-slide2-1.png) no-repeat right 20px top 0px;
}

.slider_container_3 {
    background: url(../img/nerds-index-slide3-1.png) no-repeat right 20px top 0px;
}

/*Features*/

.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 98px;
}

.feature_title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 16px;
}

.feature_text {
    font-style: normal;
    line-height: 150%;
    margin: 0;
    margin-bottom: 32px;
}

.feature_img {
    display: block;
    width: 300px;
    height: 146px;
    margin-bottom: 25px;
}

.feature_button1 {
    width: 160px;
    height: 50px;
    background: #FB565A;
}

/*Info container*/

.info_subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #283136;
}


.info_container {
    margin-bottom: 49px;
    position: relative;
}

.info_container::before {
    content: "";
    width: 1158px;
    height: 2px;
    background-color: var(--basic-grey-extra-light);
    position: absolute;
    top: 0;
    left: 20px;
}

.info_container::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.0001);
    width: 1160px;
    height: 2px;
    color: #00000000;
    position: absolute;
    top: 15px;
}

.about_us {
    display: grid;
    grid-template-columns: 1fr 360px;
    column-gap: 40px;
}

.info_desc {
    padding-top: 75px;
}

/*Info 1st column*/

.info_title {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 100%;
    margin-bottom: 38px;
    margin: 0;
}

.info_text {
    color: #283136;
    margin-bottom: 41px;
    line-height: 24px;
    margin-top: 38px;
}

.info_list {
    color: #283136;
    margin-bottom: 78px;
    margin-top: 38px;
}

.info_list_item {
    position: relative;
    padding-left: 18px;
    margin-bottom: 38px;
}

.info_list_item:last-child {
    margin-bottom: 0px;
}

.info_list_item::before {
    content: "";
    width: 25px;
    height: 2px;
    background: #FB565A;
    position: absolute;
    top: 8.5px;
    left: 7px;
}

/*Info 2nd column*/

.info_visual_title {
    text-align: center;
    margin: 0px;
    margin-bottom: 31px;
}

.percentage {
    font-weight: 700;
    font-size: 45px;
    line-height: 22%;
    margin-top: 71px;
    position: relative;
    width: 78px;
    height: 30px;
    margin-bottom: 11px;
}

.percentage:last-child {
    width: 52px;
}

.percentage::before {
    content: "%";
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    position: absolute;
    width: 20px;
    height: 40px;
    top: -30px;
    left: 78px;
}

.percent_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
}

.percent_item {
    margin-right: 22px;
    width: 98px;
}

.percent_item:nth-child(3) {
    width: 112px;
    margin-right: 0;
}

.info_visual {
    background: url(../img/nerds-illustration-1.jpg) no-repeat;
    background-position: 0 39px;
    padding-top: 286px;
}

.info_visual_percent {
    display: flex;
    flex-wrap: wrap;
}

/*Info logos*/

.logos_wrap {
    margin-bottom: 84px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.logos_list_wrap {
    width: 260px;
    height: 90px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logos_wrap::before {
    content: "";
    width: 1158px;
    height: 2px;
    background-color: var(--basic-grey-extra-light);
    position: absolute;
    top: -40px;
}

.logos_wrap::after {
    content: "";
    width: 1158px;
    height: 2px;
    background-color: var(--basic-grey-extra-light);
    position: absolute;
    bottom: -28px;
}

.logos_list_wrap:not(:nth-child(4n))::after {
    content: "";
    width: 2px;
    height: 52px;
    background-color: var(--basic-grey-extra-light);
    position: absolute;
    left: 280px;
}

.logos_item {
    opacity: 0.2;
}

.logos_item:hover {
    opacity: 1;
}

.logos_item:active {
    opacity: 0.1;
}

/*Map*/

.modal_map {
    height: 416px;
    position: relative;
}

.footer_wrap {
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: 40px;
    margin: 40px 100px;
}

.offer_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 0px;
}

.offer_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #444444;
    margin-bottom: 45px;
}

.contacts_list {
    margin-top: 30px;
    width: 268px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts_butt {
    background-color: var(--basic-grey-light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    box-sizing: border-box;
    border-radius: 50%;
}